{% extends 'base.html' %}

{% load static %}

{% block meta_description %} Clinic News {% endblock %}

{% block title %}Important Notifications{% endblock %}




{% block content %}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/5.jpg' %});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h2 class="title">Important Notifications</h2>
      </div>
    </div>
  </div>
</div>
<div class="breadcumb--con">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Important Notifications</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>


<section class="dento-pricing-table-area section-padding-100">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Important Messages</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Content</th>
                  <th scope="col">Date Posted</th>
                  <th scope="col">Time Posted</th>
                </tr>
              </thead>
              <tbody> 
                <tr>
                  <th scope="row">Clinic is closed on Nov 20-21 & Nov 24, 2023; on Nov 23, 2023, clinic is open until 11:30am,</th>
                  <td>Oct 13, 2023</td>
                  <td>11am</td>
                </tr>
                <tr>
                  <th scope="row">Flu shots are now available by appointment only, please call or email us. </th>
                  <td>Oct 11, 2023</td>
                  <td>11am</td>
                </tr>
               
               

                <tr>
                  <th scope="row">We do not hold walk-ins at this time, please contact us by phone or
                    email to book an appointment.</th>
                  <td><script>document.write(new Date().getFullYear());</script></td>
                  <td>//</td>

                </tr>
               
                <tr>
                  <th scope="row">//</th>
                  <td>//</td>
                  <td>//</td>
                </tr>
                <tr>
                  <th scope="row">//</th>
                  <td>//</td>
                  <td>//</td>
                </tr>
                <tr>
                    <th scope="row">//</th>
                    <td>//</td>
                    <td>//</td>
                  </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}