{% extends 'base.html' %}

{% load static %}

{% block meta_description %} Clinic Hours {% endblock %}

{% block title %}Hours{% endblock %}


{% block content %}

<div class="#">
    <div class="container h-300">
      <div class="row h-300 align-items-center">
        <div class="col-12">
          <br>
          
          <h2 class="title">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; Clinic Hours</h2>
          <br>
          <h2 class="title">&nbsp; &nbsp;&nbsp; &nbsp; Mon - Thur -------------------------- 8:30 A.M. - 4 P.M.</h2>
          <h2 class="title">&nbsp; &nbsp;&nbsp; &nbsp; Fri ------------------------------------- 8:30 A.M. - 12 P.M.</h2>
          <h2 class="title">&nbsp; &nbsp; &nbsp; &nbsp;Sat - Sun ------------------------------- Closed.</h2>
          <h2 class="title">&nbsp; &nbsp;&nbsp; &nbsp; Public Holidays ----------------------- Closed.</h2>

          <br>
        </div>
      </div>
    </div>
  </div>

{% endblock %}