{% extends 'base.html' %}

{% load static %}

{% block meta_description %} Policies {% endblock %}

{% block title %}Policies{% endblock %}




{% block content %}

<section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static '#'%}" alt="">
            </div>
            <h5>CANCELLATION POLICY</h5>
            <p>Due to the extreme shortage of physicians and the many needs of our
                patients, we are compelled to implement this cancellation policy.
                Our office requires 48-hours (two business days) notice of cancellations or
                appointment changes for physicals and 24-hours notice of cancellation for
                all other appointments. If you are not able to speak with a secretary you
                may leave a message on the answering machine.
                If you do not offer us adequate notice of appointment changes, we cannot
                utilize that time for another patient waiting for treatment.
                Therefore, there will be a charge for missed appointments (or insufficient
                notice given). Patients who repeatedly fail to show or frequently change
                appointments (with insufficient notice) will no longer be able to make
                appointments. We feel strongly that inconsiderate people shouldn’t reduce
                everyone’s access to therapy.
                Thank you for your understanding and co-operation. </p>
          </div>
        </div>

        <!-- Single Service Area -->
        

        
    

      

      </div>
    </div>
</section>

{% endblock %}